@model Pruebas.Common.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disponible)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disponible)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Publicado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Publicado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Back to List", "Index")
</p>
